/*------------------
    RESET
------------------*/
* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

body {
    /* background-color: black; */
    color: #fff;
}
/*------------------
    BUTTONS
------------------*/
button {
    border: none;
    cursor: pointer;
    color: #fff;
}

.btn-rec {
    width: 10vw;
}


/*------------------
    HEADER
------------------*/
.header {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    margin-bottom: 15px;
}

.left-header, .right-header {
    width: 50%;
    display: flex;
    column-gap: 2px;
    padding: 0 8px;
}

.right-header {
    justify-content: end;
}

.fa-circle-check {
    color: #67d669;
    font-size: 15px;
}

.fa-solid {
    padding: 5px;
}

.fa-record-vinyl {
    color:red;
}

/* SIMBOLO REC ALTERNATIVO */

/* .fa-circle {
    font-size: 5px;
    color: red;
    border: 5px solid lightgrey;
    border-radius: 50%;
    line-height: 5px;
    text-align: center;
} */

/* /SIMBOLO REC ALTERNATIVO */

/*------------------
    MAIN
------------------*/
.webcam-section {
    margin: auto;
    width: 95%;
}

.webcam-row {
    height: 13vh;
    display: flex;
    column-gap: 10px;
    margin-bottom: 10px;
}

.img {
    width: calc(98% / 6);
    border: 1px solid #fff;
    border-radius: 5px;
}
/*------------------
    FOOTER
------------------*/