/*------------------
    RESET
------------------*/
* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

body {
    /* background-color: black; */
    color: #fff;
}
/*------------------
    BUTTONS
------------------*/
button {
    border: none;
    cursor: pointer;
    color: #fff;
}

.btn-rec {
    width: 10vw;
}


/*------------------
    HEADER
------------------*/
.header {
    display: flex;
    justify-content: space-between;
    height: 5vh;
}

.left-header, .right-header {
    width: 50%;
    display: flex;
    column-gap: 5px;
    padding: 0 8px;
}

.right-header {
    justify-content: end;
}

.fa-circle-check {
    color: #67d669;
    font-size: 15px;
}

.fa-solid {
    padding: 5px;
}

.fa-record-vinyl {
    color:red;
}

/* .fa-circle {
    font-size: 5px;
    color: red;
    border: 5px solid lightgrey;
    border-radius: 50%;
    line-height: 5px;
    text-align: center;
} */

/*------------------
    MAIN
------------------*/

/*------------------
    FOOTER
------------------*/